@charset "UTF-8";

/* Variables fijos:
	max-width: 1400px;
	xs-design-margin-left: 20px;
	md-design-margin-left: 10%;
	navbar-height: 62px;
*/

/* font color */
.black_text {color: #000000; }
.white_text {color: #ffffff; }
.gray_text {color: #a0a0a0; }
.red_text {color: #cc1111; }
.orange_text {color: #e53300; }

/* header */
html, body {
	height: 100%;
	width: 100%;
	cursor: url("../img/cursor3.png") 12 12, auto;
	font-family: Helvetica, Arial;
	font-size: 10px;
}
a {
	cursor: url("../img/cursor4.png") 12 12, auto;
}
.wrapper {
	height: 100%;
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
/* Navigation */
nav {
	position: fixed;
	height: 62px;
	width: 100%;
	max-width: 1400px;
	z-index: 2;
	background: #000000;
}

#navbar > li {
	display: inline-block;
	vertical-align: middle;
	padding-right: 4rem;
	font-size: 1.4rem;
	font-weight: bold;
}
#navbar > li:hover {
	color: yellow;
}
#xs_nav_label {
	cursor: url("../img/cursor4.png") 12 12, auto;
}
#xs_nav_label svg {
	fill: transparent;
	width: 40px;
	height: 40px;
	margin-top: 8px;
	margin-left: 3.5rem;
}
.visible_checked {
	display: none;
}
.hidden_checked {
	display: block;
}
#xs_nav:checked + label .hidden_checked {
	display: none;
}
#xs_nav:checked + label .visible_checked {
	display: block;
}
#xs_nav_label svg:hover {
	stroke: white;
}
#xs_nav:checked ~ #xs_navbar {
	display: none;
}
#xs_navbar {
	display: block;
	position: fixed;
	top: 62px;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 500px;
	background: rgba(255,255,255,.9);
	z-index: 2;
}
#xs_navbar ul {
	list-style-type: none;
	font-size: 1.4rem;
	margin-top: 3rem;
}
#xs_navbar li {
	margin-top: 3rem;
}
#xs_navbar a:hover {
	font-weight: bold;
}
#xs_navbar svg {
	fill: transparent;
	width: 40px;
	height: 40px;
}

/* Body under nav */
.content {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	margin: 2rem;
	top: 100px;
}
.setAnchor {
  position: relative;
//  top: -62px;
}

#goDown {
	position: relative;
	width: 20%;
	height: 30px;
	left: 40%;
	text-align: center;
	bottom: 30px;
	z-index: 3;
	-webkit-animation: vertVib 3s ease infinite;
}
#goDown svg {
	stroke: #ffffff;
	width: 40px;
	height: 40px;
}
@keyframes vertVib {
  0% { transform:translateY(0); }
  5% { transform:translateY(0);  }
  10% { transform:translateY(0); }
  20% { transform:translateY(-15px); }
  25% { transform:translateY(0); }
  30% { transform:translateY(-15px); }
  50% { transform:translateY(0); }
  100% { transform:translateY(0); }
}
@-webkit-keyframes vertVib {
  0% { -webkit-transform:translateY(0); }
  5% { -webkit-transform:translateY(0);  }
  10% { -webkit-transform:translateY(0); }
  20% { -webkit-transform:translateY(-15px); }
  25% { -webkit-transform:translateY(0); }
  30% { -webkit-transform:translateY(-15px); }
  50% { -webkit-transform:translateY(0); }
  100% { -webkit-transform:translateY(0); }
}
@-moz-keyframes vertVib {
  0% { -moz-transform:translateY(0); }
  5% { -moz-transform:translateY(0);  }
  10% { -moz-transform:translateY(0); }
  20% { -moz-transform:translateY(-15px); }
  25% { -moz-transform:translateY(0); }
  30% { -moz-transform:translateY(-15px); }
  50% { -moz-transform:translateY(0); }
  100% { -moz-transform:translateY(0); }
}
@-ms-keyframes vertVib {
  0% { -ms-transform:translateY(0); }
  5% { -ms-transform:translateY(0);  }
  10% { -ms-transform:translateY(0); }
  20% { -ms-transform:translateY(-15px); }
  25% { -ms-transform:translateY(0); }
  30% { -ms-transform:translateY(-15px); }
  50% { -ms-transform:translateY(0); }
  100% { -ms-transform:translateY(0); }
}
@-o-keyframes vertVib {
  0% { -o-transform:translateY(0); }
  5% { -o-transform:translateY(0);  }
  10% { -o-transform:translateY(0); }
  20% { -o-transform:translateY(-15px); }
  25% { -o-transform:translateY(0); }
  30% { -o-transform:translateY(-15px); }
  50% { -o-transform:translateY(0); }
  100% { -o-transform:translateY(0); }
}
.chapterName {
	letter-spacing: .3rem;
	font-family: helvetica;
	font-size: 5.8rem;
	line-height: 4rem;
}
@media (min-width: 768px) {
	.chapterName {
		letter-spacing: .1rem;
		font-size: 10.8rem;
		line-height: 8rem;
	}
}

/* Got to the Top Page */
.pagetop {
	position: fixed;
	height: 40px;
	width: 100%;
	max-width: 1400px;
	bottom: 0px;
	text-align: right;
	z-index: 2;
	display: none;
}
.pagetop svg {
	fill: transparent;
	stroke: white;
	width: 60px;
	height: 40px;
}
.pagetop svg:hover {
	stroke: white;
}
/* footer */
footer {
	position: absolute;
	background: #ffffff;
	height: 100px;
	width: 100%;
	max-width: 1400px;
	cursor: url("../img/cursor2.png") 12 12, auto;
}
.copyright {
	text-align: center;
	font-family: arial;
	font-size: x-small;
	margin: 1.5rem;
}

/* Responsive Design */
@media (max-width: 767px) {
	.xs_layout {
		display: block;
	}
	.md_layout {
		display: none;
	}
	html, body {
		font-size: 9px;
	}
}
@media (min-width: 768px) {
	.xs_layout {
		display: none;
	}
	.md_layout {
		display: block;
	}
}
