@charset "UTF-8";

.contact_bg {
	position: relative;
	background: #fff;
	width: 100%;
	max-width: 1200px;
	min-height: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.contact_contents {
	background-color: #fff;
	margin: 0 20px;
	height: 100%;
	text-align: center;
}
.contact_contents .chapterName {
	text-align: left;
}
.contact {
	margin-top: 10px;
}
@media (min-width: 768px) {
	.contact_contents {
        margin-left: 10%;
        width: 80%;
        padding-top: 100px;
	}
	.contact {
		margin-top: 50px;
	}
}