@charset "UTF-8";
.work_bg {
	position: relative;
	background-image: url("../img/worksBG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	overflow: hidden;
}
.worksTblXS {
	font-family: Helvetica, Arial;
	font-size: 2rem;
	font-weight: normal;
	width: 100%;
	height: 65%;
	min-height: 350px;
	text-align: center;
	margin: 0 auto;
	table-layout: fixed;
}
.worksTblXS td {
	min-height: 150px;
	height: 33%;
	width: 100%;
	overflow: hidden;
}
.worksTblXS td > div {
	position: relative;
	padding: 10px;
}
#clickMe {
	text-align: center;
	padding-top: 10%;
	animation: blinker 7s linear infinite;
}
#clickMe svg {
	fill: transparent;
	stroke: #e0cda7;
	width: 180px;
	height: 180px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* WORKS.HTML */
/* workTypewriter effect */
#graphicNovel_bg {
	background-image: url("../img/corvus2013.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 300px;
	padding: 0;
	z-index: 1;
}
#photo_bg {
	background-image: url("../img/worksBG.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 300px;
	padding: 0;
	z-index: 1;
	display: inline-block;
}
.explicando {
	position: relative;
	font-family: Helvetica, Arial;
	font-size: 1.5rem;
	column-count: 1;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10rem;
}
@media (min-width: 768px) {
	#graphicNovel_bg,
	#photo_bg {
		height: 500px;
	}
	.explicando {
		column-count: 2;
		width: 80%;
		-webkit-column-gap: 4rem;
		-moz-column-gap: 4rem;
		column-gap: 4rem;
	}
}
.workTypewriter {
	margin-bottom: 100px;
	margin-left: 4px;
}
.workTypewriter #captureText,
.workTypewriter #picCapText {
	position: relative;
	overflow: hidden;
	border-right: .10em solid transparent;
	white-space: nowrap;
	//margin: 0 auto;
	letter-spacing: .10em;
	font-family: courier new, courier;
	font-size: 1.2rem;
	float: left;
	width: 0;
	-webkit-transition: all 2.8s linear 0s;
	transition: all 2.8s linear 0s;
}
.workTypewriter #captureText.type,
.workTypewriter #picCapText.type {
	width: 35rem;
}
